html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  color: black;
}

.content-section {
  flex-grow: 1;
  text-align: center;
  padding: 20px;
  animation: fadeIn 1s ease-in-out;
}

/* Style pour les images */
.content-section img {
  margin-bottom: 20px;
  width: auto;
  height: 100px;
  animation: slideDown 1s ease-in-out;
}

/* Style pour les titres h1 et h2 */
.content-section h1,
.content-section h2 {
  color: red;
  margin-bottom: 20px;
  animation: slideUp 1s ease-in-out;
}

/* Style pour les listes */
.content-section ul {
  list-style: inside;
  padding: 0;
  display: inline-block;
  text-align: left;
  margin: 0 auto;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
