html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body > .training-content {
    flex-grow: 1;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: black;
}

.training-content {
    text-align: center;
    padding: 50px;
}

.training-content h1 {
    color: red;
    margin-bottom: 30px;
}

.training-program {
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.training-program h2 {
    color: #b22222;
}

.training-program p {
    font-size: 16px;
    color: #666;
}

.training-program:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.training-program img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Styles pour la fenêtre modale */
.modal {
    display: none; /* Cachée par défaut */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-sizing: border-box;
    text-align: center;
}

.modal-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #b22222;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
    margin: 10px;
}

